@model IEnumerable<Bnpp.DataLayer.Entities.DamageabilityReport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>
    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>

                <tr>
                    <td style="">
                        <b>
                            <a class="breadcumb2-link" href="/DataEntry">Main</a>
                        </b>
                    </td>
                    @*<td style=""> » <b style="color: #ff0000;"><a class="breadcumb2-link" href="#">Structures</a></b></td>*@
                </tr>
            </tbody>
        </table><a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();"><img src="/images/help.png" style="width: 48px;" class="imgHelp"></a>
    </div>

    <h1>SACOR Reports</h1>
    <br />


    <div class="bevel-box">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    @* <td>
                    <input type="file" name="uploadedFile" id="uploadedFile" style="direction: ltr; text-align: left;">
                    <input onclick="__doPostBack('upload','')" name="upload" type="button" id="upload" value="Import Excel" style="direction: ltr; text-align: left;">
                    </td>*@

                    <td>
                        <form method="post" asp-controller="Import" asp-action="Export">
                            <input type="text" id="exportSelectedData" name="reportId" style="display:none" />
                            <input type="submit" onclick="refreshPage()" value="Export Excel" />
                        </form>
                    </td>
                    <td style="width: 200px;">
                        <span id="message">
                        </span>
                    </td>
                    <td>
                        <a href="#" target="_blank">
                            <img src="/images/print_printer.png" title="Print">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="bevel-box">
        <h1>Import New Report</h1>

        <form id="DesignDocumentForm" asp-action="CreateDamageabilityReport" method="post" enctype="multipart/form-data">

            <table cellpadding="3" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            Allowable CUF:
                        </td>
                        <td>
                            <input name="allowablecuf" type="text" style="direction: ltr; text-align: left;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Allowable Life Time:
                        </td>
                        <td>
                            <input name="allowablelifetime" type="text" style="direction: ltr; text-align: left;">
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Allowable Changing Ratio:
                        </td>
                        <td>
                            <input name="allowableChangingratio" type="text" style="direction: ltr; text-align: left;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="reportDates" id="reportDates" type="text" style="display:none">
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <input type="file" name="fileReport" style="direction: ltr; text-align: left;">
                            <input type="submit" id="upload" value="Import Report Text" style="direction: ltr; text-align: left;">
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (ViewBag.IsExistReport == true)
            {
                <div class="alert alert-danger">
                    <p class="text-danger" style="background-color:red;color:white;text-align:center">
                        This report has already been uploaded
                    </p>
                </div>
                <script>
                    // Your delay in milliseconds
                    var delay = 5000;
                    setTimeout(function () { window.location = "/SACOR-446"; }, delay);
                </script>
            }
        </form>
    </div>

    <div id="newPage">
        @* <form id="DesignDocumentForm" asp-action="CreateDamageabilityReport" method="post" enctype="multipart/form-data">
        <table cellpadding="3" cellspacing="0">
        <tbody>
        <tr>
        <td>
        Allowable CUF:
        </td>
        <td>
        <input name="allowablecuf" type="text" style="direction: ltr; text-align: left;">
        </td>
        </tr>
        <tr>
        <td>
        Allowable Life Time:
        </td>
        <td>
        <input name="allowablelifetime" type="text" style="direction: ltr; text-align: left;">
        </td>

        </tr>
        <tr>
        <td>
        Date:
        </td>
        <td>
        <input name="reportDate" id="reportDate" style="direction: ltr; text-align: left;">
        </td>
        </tr>
        <tr>
        <td>
        <input type="file" name="fileReport" style="direction: ltr; text-align: left;">
        <input type="submit" id="upload" value="Import Report Text" style="direction: ltr; text-align: left;">
        </td>
        </tr>
        </tbody>
        </table>
        </form>*@
        @* <div class="bevel-box">
        <h1>EDIT</h1>
        <form id="DesignDocumentForm" asp-action="EditDamageabilityReport" method="post" enctype="multipart/form-data">
        <table cellpadding="3" cellspacing="0">
        <tbody>
        <tr>
        <td>
        Allowable CUF:
        </td>
        <td>
        <input name="allowablecuf" type="text" style="direction: ltr; text-align: left;">
        </td>
        </tr>
        <tr>
        <td>
        Allowable Life Time:
        </td>
        <td>
        <input name="allowablelifetime" type="text" style="direction: ltr; text-align: left;">
        </td>

        </tr>
        <tr>
        <td>
        <input type="file" name="fileReport" style="direction: ltr; text-align: left;">
        <input type="submit" id="upload" value="Edit" style="direction: ltr; text-align: left;">
        </td>
        </tr>
        </tbody>
        </table>
        </form>
        </div>*@
        <div class="bevel-box">
            <form action="/SACOR-446" method="get">
                <table cellpadding="3" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                AKZ:
                            </td>
                            <td>
                                <input name="filter" type="text" style="direction: ltr; text-align: left;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Date:
                            </td>
                            <td>
                                <input name="date" id="srchDate" type="text" style="direction: ltr; text-align: left;">
                                <input name="schDate" id="schDate" onchange="GetSearchfromDate();">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                File Date:
                            </td>
                            <td>
                                <input name="fileDate" id="schfileDate" type="text" style="direction: ltr; text-align: left;">
                                <input name="searchfileDate" id="searchfileDate" onchange="GetSearchhDate();">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Allowable Life Time:
                            </td>
                            <td>
                                <input name="allowablelifetime" type="text" style="direction: ltr; text-align: left;">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @* <input type="file" name="fileReport" style="direction: ltr; text-align: left;">*@
                                <input type="submit" value="Search" style="direction: ltr; text-align: left;">
                                <input type="button" onclick="location='/SACOR-446'" class="butn-cancel" style="direction: ltr; text-align: center;margin-bottom:-7px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <br />

        <input type="button" value="Back" onclick="location='/Admin'" class="butn-cancel" style="direction: ltr; text-align: left;">
        <input type="button" id="delete" class="btn-delete-equip" value="Delete">


        <div id="GroupBy">

            <br />

            @{
                int rowCount = 1;
            }

            <table id="myTable" @*cellpadding="3" cellspacing="0"*@ aria-describedby="example_info" class="display dataTable">
                <br />
                <div id="myTable_filter" class="dataTables_filter">
                    <label>
                        Search Date: <input name="searchDate" id="searchDate" onchange="GetDate();" style="direction: ltr; text-align: left;">
                    </label>
                </div>
                <br />
                <thead>
                    <tr role="row">
                        <th>
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th></th>
                        <th>
                            <b>AKZ</b>
                        </th>
                        <th>
                            <b>Date</b>
                        </th>
                        <th>
                            <b>Location of the checkpoint</b>
                        </th>
                        <th>
                            <b>Action period of equipment (years)</b>
                        </th>
                        <th>
                            <b>Life time of equipment in design (years)</b>
                        </th>
                        <th>
                            <b>
                                Life time of equipment per RALDS (years)
                            </b>
                        </th>
                        <th>
                            <b>
                                Damageability per coiled cycles
                            </b>
                        </th>
                        <th>
                            <b>
                                Damageability per uncoiled cycles
                            </b>
                        </th>
                        <th>
                            <b>
                                Total damageability of equipment
                            </b>
                        </th>
                        <th>
                            <b>
                                Allowable CUF
                            </b>
                        </th>
                        <th>
                            <b>
                                Allowable Remaining Life Time
                            </b>
                        </th>
                        <th>
                            <b>
                                Changing Ratio
                            </b>
                        </th>
                        <th>
                            <b>
                                Allowable Changing Ratio
                            </b>
                        </th>
                        <th>
                            <b>
                                File Date
                            </b>
                        </th>
                        <th>
                            <b>

                            </b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row">
                            <td>
                                <input type="checkbox" class="checkBox" value="@item.ID" />
                            </td>
                            <td>
                                @rowCount
                            </td>
                            <td>
                                @item.Akz
                            </td>
                            <td>
                                @item.ReportDate.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                @item.Locationofthecheckpoint
                            </td>
                            <td>
                                @item.Actionperiodofequipment
                            </td>
                            <td>
                                @item.Lifetimeofequipmentindesign
                            </td>
                            @if ((Convert.ToDecimal(item.LifetimeofequipmentperRALDS)) <= (Convert.ToDecimal(item.AllowableLifeTime)))
                            {
                                <td style="background-color:red;">
                                    @item.LifetimeofequipmentperRALDS
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.LifetimeofequipmentperRALDS
                                </td>
                            }
                            <td>
                                @item.Damageabilitypercoiledcycles
                            </td>
                            <td>
                                @item.Damageabilityperuncoiledcycles
                            </td>
                            @if ((Convert.ToDecimal(item.Totaldamageabilityofequipment)) >= (Convert.ToDecimal(item.AllowableCUF)))
                            {
                                <td style="background-color:red;">
                                    @item.Totaldamageabilityofequipment
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.Totaldamageabilityofequipment
                                </td>
                            }

                            <td>
                                @item.AllowableCUF
                            </td>
                            <td>
                                @item.AllowableLifeTime
                            </td>
                            @if ((Convert.ToDecimal(item.AllowableChangingRatio)) <= (Convert.ToDecimal(item.ChangingRatio)))
                            {
                                <td style="background-color:red;">
                                    @item.ChangingRatio
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.ChangingRatio
                                </td>
                            }

                            <td>
                                @item.AllowableChangingRatio
                            </td>
                            @*<td>
                        @item.ReportDate.ToString("yyyy/MM/dd")
                        </td>*@
                            <td>
                                @item.CreateDate.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                <a class="btn-edit-equip" href="/Import/EditDamageabilityReport/@item.ID">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        rowCount++;
                    }
                </tbody>
            </table>
            <br>

        </div>

    </div>
</div>


@section Scripts
    {


    <link href="/css/kendo.common.min.css" rel="stylesheet" />
    <link href="/css/kendo.default.min.css" rel="stylesheet" />
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*<link href="/css/jquery.dataTables.min.css" />
    <link href="/css/dataTables.dateTime.min.css" rel="stylesheet" />
*@

    <script src="/js/jquery.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>

    @*<script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/dataTables.dateTime.min.js"></script>*@
    <script>
        // create DatePicker from input HTML element
        $("#reportDate").kendoDatePicker();
        $("#searchDate").kendoDatePicker();
        $("#searchfileDate").kendoDatePicker(
            {
                format: "yyyy/MM/dd"
            });

        $("#schDate").kendoDatePicker(
            {
                format: "yyyy/MM/dd"
            });


    </script>

    <script src="/js/jquery.min.js"></script>

    <script src="/js/datatables.min.js"></script>

    <script>
        //$(document).ready(function () {
        //    $("#myTable").DataTable();
        //});
    </script>


    <script>

        function Edit(id) {
            $("#newPage").load("/Import/EditDamageabilityReport/" + id);
        }

        //function GetGroupByDate() {
        //    $("#GroupBy").load("/Import/GroupByDatessss/");
        //}



        function refreshPage() {
            // Your delay in milliseconds
            var delay = 3000;
            setTimeout(function () { window.location = "/SACOR-446"; }, delay);
        }

        $('input:checkbox.checkBox').change(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            $('#exportSelectedData').val(selectedIDs);


            //alert(selectedIDs);
        });

        // $('input:checkbox.checkBox').prop('checked',function () {
        //        var selectedIDs = new Array();
        //           $('input:checkbox.checkBox').each(function () {
        //               if ($(this).prop('checked')) {
        //                   selectedIDs.push($(this).val());
        //               }
        //           });

        //           $('#exportSelectedData').val(selectedIDs);


        //   alert(selectedIDs);
        //});
        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });
            var result = confirm("are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/Import/DeleteDamageabilityReport",
                    data: { "damagingId": selectedIDs },
                    success: function (response) {
                        window.location.href = "/SACOR-446";
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });


        function GetDate() {
            var date = $('#searchDate').val();

            $('input[type=search]').val(date);

            $('input[type=search]').focus();

            //$('searchDate').on('change', function () {
            //table.draw();


            $('#searchDate').val("");

        };

        function GetSearchhDate() {
            var date = $('#searchfileDate').val();

            $('#schfileDate').val(date);

            $('#searchfileDate').val("");

        };

        function GetSearchfromDate() {
            var date = $('#schDate').val();

            $('#srchDate').val(date);

            $('#schDate').val("");

        };

        $(document).ready(function () {
            $('tbody tr[role="row"]').hide();
        });

        //Group By Date


        //group
        $(document).ready(function () {
            var groupColumn = 2;
            var table = $('#myTable').DataTable({
                columnDefs: [{ visible: false, targets: groupColumn }],
                order: [[groupColumn, 'asc']],
                displayLength: 1000,
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();

                    var last = null;

                    api
                        .column(groupColumn, { page: 'current' })
                        .data()
                        .each(function (group, i) {
                            if (last !== group) {
                                $(rows)
                                    .eq(i)
                                    .before('<tr class="group" id="group_' + i + '" style="background-color: rgba(0, 0, 0, 0.15);"><td class="dt-control"></td><td colspan="16">' + group + '</td></tr>');

                                last = group;

                            }
                        });
                },
            });


            //Add parameter to class  class="group'+i+'"
            // Order by the grouping
            $('#myTable tbody').on('click', 'tr.group', function () {



                $($(this)).nextUntil(".group").filter('tr[role="row"]').toggle();

            });

        });


        $('input[type=file]').change(function () {

            $('#reportDates').attr('value', this.files[0].name);
        });

    </script>

    }





