@model IEnumerable<Bnpp.DataLayer.Entities.DamageabilityReport>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>
    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td style="">
                        <b>
                            <a class="breadcumb2-link" href="/DataEntry">Main</a>
                        </b>
                    </td>
                    @*<td style=""> » <b style="color: #ff0000;"><a class="breadcumb2-link" href="#">Structures</a></b></td>*@
                </tr>
            </tbody>
        </table><a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();"><img src="/images/help.png" style="width: 48px;" class="imgHelp"></a>
    </div>

     <h1>Report about the calculatioin of cyclic damageability of equipment and pipelines</h1>
    <br />
    <br />
    <br />
    <br />
    <br />

    <form id="DesignDocumentForm" asp-action="CreateDamageabilityReport" method="post" enctype="multipart/form-data">
   <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <input type="file" name="fileReport" style="direction: ltr; text-align: left;">
                        <input  type="submit" id="upload" value="Import Report Text" style="direction: ltr; text-align: left;">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <br />
    <br />
    <br />
    
    <input type="button" value="Back" onclick="location='/Admin'" class="butn-cancel" style="direction: ltr; text-align: left;">
    @*<input type="button" id="delete" class="btn-delete-equip" value="Delete">*@
    <br />

    @{
        int rowCount = 1;
    }
    <table id="myTable" cellpadding="3" cellspacing="0" class="show-table">
        <thead>
            <tr role="row">
                <th>
                    <input type="checkbox" id="checkAll" />
                </th>
                <th></th>
                <th >
                    <b>Action period of equipment (years)</b>
                </th>
                <th >
                    <b>Life time of equipment in design (years)</b>
                </th>
                <th>
                    <b>
                        Life time of equipment per RALDS (years)
                    </b>
                </th>
                <th>
                    <b>
                        Damageability per coiled cycles
                    </b>
                </th>
                <th>
                    <b>
                        Damageability per uncoiled cycles
                    </b>
                </th>
                <th>
                    <b>
                        Total damageability of equipment
                    </b>
                </th>
               @* <th style="width: 120px">
                    <b>Actions</b>
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td>
                        <input type="checkbox" class="checkBox" value="@item.ID" />
                    </td>
                    <td>
                        @rowCount
                    </td>
                    <td>
                        @item.Actionperiodofequipment
                    </td>
                    <td>
                        @item.Lifetimeofequipmentindesign
                    </td>
                    <td>
                        @item.LifetimeofequipmentperRALDS
                    </td>
                    <td>
                        @item.Damageabilitypercoiledcycles
                    </td>
                    <td>
                        @item.Damageabilityperuncoiledcycles
                    </td>
                    <td>
                        @item.Totaldamageabilityofequipment
                    </td>
                   @* <td>
                        <a class="btn-edit-equip" href="/Structure/EditStructure/@item.ID">
                            Edit
                        </a>
                    </td>*@
                </tr>
                rowCount++;
            }
        </tbody>
    </table>
    <br>
</div>


@section Scripts
    {

    <script src="/js/jquery.min.js"></script>

    <script src="/js/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();
        });
    </script>

    <script>
        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();

            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var result = confirm("are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/Structure/DeletStructure",
                    data: { "structureId": selectedIDs },



                    success: function (response) {
                        window.location.href = "/Structure";
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });
            }

        });
    </script>
    }



