@model IEnumerable<Bnpp.DataLayer.Entities.BasicData.HeatOperation>
@{
    ViewData["Title"] = "HeatTreatment";
    Layout = null;
}


<div id="newPage">
    <div>

        <div id="iLoading22" style="display: none;">
            <img src="/images/loading.gif">
        </div>


        <a class="btn-new-equip" style="cursor: pointer" onclick="Create(@ViewData["ComponentId"])">New</a>
        <input type="button" id="delete" class="btn-delete-equip" value="Delete">
        <input type="button" onclick="showPage5()" value="Back" id="Button2" class="butn-cancel" style="direction: ltr; text-align: left;">
        <br />
        @{
            int rowCount = 1;
        }
        <table id="myTable" cellpadding="3" cellspacing="0" class="show-table">
            <thead>
                <tr role="row">
                    <th>
                        <input type="checkbox" id="checkAll" />
                    </th>
                    <th></th>
                    <th>
                        <b>Temperature</b>
                    </th>
                    <th>
                        <b>Duration</b>
                    </th>

                    <th>
                        <b>Heat Operation</b>
                    </th>

                    <th>
                        <b>Cooling Method</b>
                    </th>
                    <th>
                        <b>No. Heat Operations</b>
                    </th>
                    <th>
                        <b>	Document No.</b>
                    </th>
                    <th>
                        <b>Actions</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row">
                        <td>
                            <input type="checkbox" class="checkBox" value="@item.HeatOperationId" />
                        </td>
                        <td>
                            @rowCount
                        </td>
                        <td>
                            @item.Temperature
                        </td>
                        <td>
                            @item.TimesOfHeating.ToString("hh:mm")
                        </td>
                        <td>
                            @item.HeatsOperation
                        </td>
                        <td>
                            @item.CoolingMethod
                        </td>
                        <td>
                            @item.NoOfHeatOperations
                        </td>
                        <td>
                            @item.DocumentNo
                        </td>
                       
                        <td>
                            <a class="btn-edit-equip" onclick="Edit(@item.HeatOperationId)">
                                Edit
                            </a>
                        </td>
                    </tr>
                    rowCount++;
                }
            </tbody>
        </table>


        <br>
        <div style="clear: both;">
        </div>
        <br>
        <br>
        <iframe style="display: none" id="if_-2_119" src=""></iframe>

    </div>
</div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>


<script src="/js/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });
</script>
<script>

    function Create(id) {
        $("#newPage").load("/Technical/CreateHeatTreatment/" + id);
    }

    function Edit(id) {
        $("#newPage").load("/Technical/EditMechanicalProperties/" + id);
    }



    function showPage1() {
        $("#Tabs").load("/Technical/GeneralData/");
    }

    function showPage2() {
        $("#Tabs").load("/Technical/DesignData/");
    }

    function showPage3() {
        $("#Tabs").load("/Technical/Documents/");
    }

    function showPage4() {
        $("#Tabs").load("/Technical/Safety/");
    }

    function showPage5() {
        $("#Tabs").load("/Technical/Components/");
    }

    function showPage6() {
        $("#Tabs").load("/Technical/ChemicalNorms");
    }

    function showPage7() {
        $("#Tabs").load("/Technical/TechnicalPrograms/");
    }

    function showPage8() {
        $("#Tabs").load("/Technical/Sensors");
    }

    function showPage9() {
        $("#Tabs").load("/Technical/ControlPoints/");
    }

    function showPage10() {
        $("#Tabs").load("/Technical/HForms/");
    }


    $("#checkAll").click(function () {
        $(".checkBox").prop('checked',
            $(this).prop('checked'));
    });

    $("#delete").click(function () {
        var selectedIDs = new Array();

        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        $.ajax({
            type: "POST",
            url: "/Technical/DeleteMechanicalProperties",
            data: { "mechanicalId": selectedIDs },

            success: function (response) {
                $("#newPage").load("/Technical/MechanicalProperties/@ViewData["ComponentId"]");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        });

    });


</script>




