@model IEnumerable<Bnpp.DataLayer.Entities.Commissioning>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>

    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td style="">
                        <b><a class="breadcumb2-link" href="#">Mechanical Equipments</a></b>
                    </td>
                    <td style="">
                        » Installation & Commissioning<b id="subTitle22a"></b>
                    </td>
                    <td>
                        <b style="color: #ff0000;" id="subTitle22"></b>
                    </td>
                </tr>
            </tbody>
        </table>
        <a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();">
            <img src="/images/help.png" style="width: 48px;" class="imgHelp">
        </a>
    </div>

    <h1 id="iH1">
        Installation & Commissioning
    </h1>
    <div id="iContent">



        <div id="tab1" class="tab-item" style="display: block;">



            <div class="bevel-box">
                <table cellpadding="3" cellspacing="0">
                    <tbody>
                        <tr>

                            <td>
                                <form id="exportexcel" method="post" asp-controller="Installation" asp-action="ExportInstallation" enctype="multipart/form-data">
                                    <input type="submit" value="Export Excel" />
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-controller="Installation" asp-action="ImportExcel" enctype="multipart/form-data">

                                    <input type="file" name="postedFile" />
                                    <input type="submit" value="Import Excel" />

                                </form>
                            </td>

                            @*   <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
                                <input type="file" name="postedFile" />
                                <input type="submit" value="Import" />
                                </form>*@

                            <td style="width: 200px;">
                                <span id="message">
                                </span>
                            </td>
                            <td>
                                <a href="#" target="_blank">
                                    <img src="/images/print_printer.png" title="Print">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div id="newPage">
                <div>

                    <div id="iLoading22" style="display: none;">
                        <img src="/images/loading.gif">
                    </div>


                    <a class="btn-new-equip" style="cursor: pointer" onclick="Create()">New</a>
                    <input type="button" id="delete" class="btn-delete-equip" value="Delete">
                    @*<input type="button" id="Export" value="excel" class="butn-save" style="direction: ltr; text-align: left;">*@
                    <br />
                    @{
                        int rowCount = 1;
                    }
                    <table id="myTable" cellpadding="3" cellspacing="0" class="show-table">
                        <thead>
                            <tr role="row">
                                <th>
                                    <input type="checkbox" id="checkAll" />
                                </th>
                                <th></th>
                                <th>
                                    <b>Parameter1</b>
                                </th>
                                <th>
                                    <b>Parameter2</b>
                                </th>
                                <th>
                                    <b>Parameter3</b>
                                </th>
                                <th>
                                    <b>Parameter4</b>
                                </th>
                                <th>
                                    <b>Actions</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>
                                        <input type="checkbox" class="checkBox" value="@item.CommissioningId" />
                                    </td>
                                    <td>
                                        @rowCount
                                    </td>
                                    <td>
                                        @item.Parameter1
                                    </td>
                                    <td>
                                        @item.Parameter2
                                    </td>
                                    <td>
                                        @item.Parameter3
                                    </td>
                                    <td>
                                        @item.Parameter4
                                    </td>
                                    <td>

                                        <a class="btn-edit-equip" onclick="Edit(@item.CommissioningId)">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                                rowCount++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>


<script src="/js/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });
</script>
<script>

    function Create() {
        $("#newPage").load("/Installation/CreateCommissioning/");
    }

    function Edit(id) {
        $("#newPage").load("/Installation/EditCommissioning/"+id);
    }


    $("#checkAll").click(function () {
        $(".checkBox").prop('checked',
            $(this).prop('checked'));
    });



     $("#delete").click(function () {
        var selectedIDs = new Array();

        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        var result = confirm("are you sure you want to delete?");
        if (result) {
        $.ajax({
            type: "POST",
            url: "/Installation/DeleteCommissioning",
            data: { "commissioningId": selectedIDs },

            success: function (response) {
                     window.location.href = "/Installation/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        });
        }

    });


     //$("#Export").click(function () {
     //   var selectedIDs = new Array();

     //   $('input:checkbox.checkBox').each(function () {
     //       if ($(this).prop('checked')) {
     //           selectedIDs.push($(this).val());
     //       }
     //   });

     // alert(selectedIDs);
     //   $.ajax({
     //       type: "POST",
     //       url: "/Installation/Export",
     //       data: { "comissioningId": selectedIDs },




     //       success: function (response) {
     //          window.location.href = "/Installation/";
     //       },
     //       failure: function (response) {
     //           alert(response.responseText);
     //       }
     //       ,
     //       error: function (response) {
     //           alert(response.responseText,encoding="utf-8");
     //       }

     //   });

         //$.ajax({
         //       type: 'POST',
         //       url: "/Installation/Export",
         //       data:{ "comissioningId": selectedIDs },
         //       processData: false,
         //       contentType: false
         //   }).done(function() {
         //      window.location.href = "/Installation/";
         //   });

    //});
</script>

}









